:root {
  --t-blue: #0094ff;
  --bg: #242424;
}

* {
  color: white;
  font-family: 'Noto Sans', sans-serif;
}


.centered {
  margin: auto
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center
}

.fill {
  width: 100%;
  height: 100%
}




body {
  margin: 0;
  background: var(--bg);
  display: grid;
  grid-template-rows: 10vh auto;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
}


@keyframes disable-hover {
  0%   {pointer-events: none}
  100% {pointer-events: none}
}

.plate {
  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
  grid-column-start: 3;
  justify-self: flex-end;
  width: 10vh;
  height: 10vh;

  border-bottom-left-radius: 5vh;
  background-color: #fff;

  transition: all 0.2s ease-out;
  animation: disable-hover 5s;
}

.plate.reversed {
  background-color: var(--t-blue);
  justify-self: flex-start;
  grid-column-start: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5vh;
}

.plate.reversed:hover {
  transform-origin: top left;
}

.plate:hover {
  transform-origin: top right;
  width: 15vh;
  transition: width 0.2s ease-in-out;
}

.hamburger {
  display: block;
  width: 5vh;
  height: 2.5vh;
  transform: scaleY(0.25);
  border-radius: 4px;
  background-color: var(--t-blue);
  margin-bottom: -0.5vh;
  margin-left: 2vh;
}

.hamburger:nth-of-type(2) {
  width: 3.5vh;
  margin-left: 3.5vh;
}

.hamburger:nth-of-type(3) {
  width: 2vh;
  margin-left: 5vh;
}



/* Box Logo */
@keyframes box {
  0%   {transform: scale(50)}
  70%  {transform: scale(50)}
  85%  {transform: scale(0.85)}
  86%  {transform: scale(1)}
  100% {transform: scale(1)}
}

@keyframes bg-box {
  0%   {opacity: 1; transform: scale(40) translateX(0%)  translateY(10%)   rotate(-180deg)}
  50%  {opacity: 1; transform: scale(40) translateX(30%) translateY(-100%) rotate(0deg)}
  99%  {opacity: 1}
  100% {opacity: 0}
}



@keyframes shrink-into-place {
  0%   {top: 50vh; left: 50vw; transform: translate(-100%, -100%); cursor: default}
  75%  {top: 50vh; left: 50vw; transform: translate(-100%, -100%)}
  100% {top: 0;    left: 0;      transform: translateX(0); cursor: default}
  
}


.bogo {
  justify-self: flex-end;
  align-self: flex-end;
  margin: 2.5vh;
  z-index: 128;
  overflow: visible;
  position: relative;
  height: 50%;
  transform: translate(0);
  animation: shrink-into-place 5s ease-in-out;
}

.bogo > .blue, .bogo > .background {
  animation-timing-function: cubic-bezier(0.25, 0.75, 1, 0.25);
  animation-duration: 4s;
}

.bogo > .blue {
  fill: var(--t-blue);
  transform-origin: center;
  animation-name: box;
}

.bogo > .background {
  opacity: 0;
  fill: var(--bg);
  transform: scale(30) translateX(30%) translateY(-100%) rotate(0deg);
  transform-origin: center;
  animation-name: bg-box;
}

.bogo > .shadow {
  fill: #1d1d1d;
  mix-blend-mode: multiply
}

.bogo > .half {
  opacity: 0.5
}

.bogo > .quarter {
  opacity: 0.25
}

.bogo > .char {
  fill: #fff
}