:root {
  --t-blue: #0094ff;
  --bg: #242424;
}

* {
  color: white;
  font-family: 'Noto Sans', sans-serif;
}


.centered {
  margin: auto
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center
}

.fill {
  width: 100%;
  height: 100%
}




body {
  background: var(--bg);
  display: grid;
  grid-template-rows: 5vh auto;
}

nav {
  display: grid;
  grid-template-columns: auto 9fr 1fr;
  grid-template-rows: 100%
}




/*#Box Logo */
@keyframes box {
  0%   {transform: scale(50)}
  70%  {transform: scale(50)}
  85%  {transform: scale(0.85)}
  86%  {transform: scale(1)}
  100% {transform: scale(1)}
}

@keyframes bg-box {
  0%   {opacity: 1; transform: scale(40) translateX(0%)  translateY(10%)   rotate(-180deg)}
  50%  {opacity: 1; transform: scale(40) translateX(30%) translateY(-100%) rotate(0deg)}
  99%  {opacity: 1}
  100% {opacity: 0}
}



@keyframes shrink-into-place {
  0%   {top: 49vh; left: 47.1vw; transform: translate(-50%, -50%); cursor: default}
  75%  {top: 49vh; left: 47.1vw; transform: translate(-50%, -50%)}
  100% {top: 0;    left: 0;      transform: translate(0); cursor: default}
  
}


.bogo {
  cursor: pointer;
  overflow: visible;
  position: relative;
  height: 100%;
  transform: translate(0);
  animation: shrink-into-place 5s ease-in-out;
}

.bogo > .blue, .bogo > .background {
  animation-timing-function: cubic-bezier(0.25, 0.75, 1, 0.25);
  animation-duration: 4s;
}

.bogo > .blue {
  fill: var(--t-blue);
  transform-origin: center;
  animation-name: box;
}

.bogo > .background {
  opacity: 0;
  fill: var(--bg);
  transform: scale(30) translateX(30%) translateY(-100%) rotate(0deg);
  transform-origin: center;
  animation-name: bg-box;
}

.bogo > .shadow {
  fill: #1d1d1d;
  mix-blend-mode: multiply
}

.bogo > .half {
  opacity: 0.5
}

.bogo > .quarter {
  opacity: 0.25
}

.bogo > .char {
  fill: #fff
}