/* disables interactions (used in page load animation) */
@-webkit-keyframes disabled {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: none;
  }
}
@keyframes disabled {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: none;
  }
}

* {
  background: #242424;
  color: #0094FF;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  /* disable interactions of everything for the first 2.5s of page loading so that loading animations play and you can't stop them >:) */
  -webkit-animation: disabled 2.8s;
          animation: disabled 2.8s;
}

*:focus {
  outline: #EE7674 dotted;
}

.centered {
  margin: auto;
}

.fill {
  width: 100%;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.column.reversed {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex.column.left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex.reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  overflow-x: hidden;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh auto;
      grid-template-rows: 10vh auto;
}

ul {
  list-style: none;
  padding-left: 10%;
}

.tab {
  position: -webkit-sticky;
  position: sticky;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh;
  height: 8vh;
  background: #fff;
  -webkit-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.tab.bookmark-left {
  border-bottom-left-radius: 5vh;
  padding-right: 2vh;
}

.tab.bookmark-left:hover {
  padding-right: 3vh;
}

.tab.bookmark-left.open {
  padding-right: 50%;
}

.tab.bookmark-right {
  border-bottom-right-radius: 5vh;
  padding-left: 2vh;
}

.tab.bookmark-right:hover {
  padding-left: 3vh;
}

.tab > .menu.open {
  padding-right: 45%;
}

.hamburger {
  background: none;
  width: 100%;
  height: 100%;
}

.hamburger > * {
  display: block;
  height: 2.5vh;
  -webkit-transform: scaleY(0.25);
          transform: scaleY(0.25);
  border-radius: 0.5vh;
  background: #0094FF;
  margin-bottom: -0.75vh;
}

.hamburger > *:nth-of-type(1) {
  width: 5vh;
  margin-left: 2vh;
}

.hamburger > *:nth-of-type(2) {
  width: 3.5vh;
  margin-left: 3.5vh;
}

.hamburger > *:nth-of-type(3) {
  width: 2vh;
  margin-left: 5vh;
}

.menu {
  cursor: default;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 92vh;
  width: 50vw;
  background: inherit;
  color: #242424;
  position: fixed;
  right: -50%;
  top: 8vh;
  -webkit-transition: padding-right 0.2s ease-in-out;
  transition: padding-right 0.2s ease-in-out;
}

.menu > * {
  background: inherit;
  color: #242424;
}

.menu > p {
  padding-left: 10%;
}

.menu-list > * {
  cursor: pointer;
  background: none;
  color: inherit;
  font-weight: 700;
  font-size: larger;
  margin-bottom: 10%;
}

/* Box Logo */
@-webkit-keyframes box {
  0% {
    -webkit-transform: scale(40);
            transform: scale(40);
  }
  50% {
    -webkit-transform: scale(40);
            transform: scale(40);
  }
  62% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes box {
  0% {
    -webkit-transform: scale(40);
            transform: scale(40);
  }
  50% {
    -webkit-transform: scale(40);
            transform: scale(40);
  }
  62% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bg-box {
  0% {
    opacity: 1;
    -webkit-transform: scale(35) translateX(10%) translateY(10%) rotate(80deg);
            transform: scale(35) translateX(10%) translateY(10%) rotate(80deg);
  }
  82% {
    opacity: 1;
    -webkit-transform: scale(35) translateX(-20%) translateY(-100%) rotate(-200deg);
            transform: scale(35) translateX(-20%) translateY(-100%) rotate(-200deg);
  }
  100% {
    opacity: 1;
  }
}

@keyframes bg-box {
  0% {
    opacity: 1;
    -webkit-transform: scale(35) translateX(10%) translateY(10%) rotate(80deg);
            transform: scale(35) translateX(10%) translateY(10%) rotate(80deg);
  }
  82% {
    opacity: 1;
    -webkit-transform: scale(35) translateX(-20%) translateY(-100%) rotate(-200deg);
            transform: scale(35) translateX(-20%) translateY(-100%) rotate(-200deg);
  }
  100% {
    opacity: 1;
  }
}

.bogo {
  z-index: 128;
  width: 7vh;
  background: none;
  overflow: visible;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10%;
}

.bogo > .blue, .bogo > .background {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.bogo > .blue {
  -webkit-animation-name: box;
          animation-name: box;
}

.bogo > .background {
  opacity: 0;
  fill: #242424;
  -webkit-transform: scale(30) translateX(30%) translateY(-100%) rotate(0deg);
          transform: scale(30) translateX(30%) translateY(-100%) rotate(0deg);
  -webkit-animation-name: bg-box;
          animation-name: bg-box;
}

.bogo > .char-group {
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.bogo > .char-group > .shadow {
  fill: #1d1d1d;
  mix-blend-mode: multiply;
}

.bogo > .char-group > .half {
  opacity: 0.5;
}

.bogo > .char-group > .quarter {
  opacity: 0.25;
}

.bogo > .char-group > .char {
  fill: #fff;
}

.blue {
  background: #0094FF;
  fill: #0094FF;
  color: #0094FF;
}
/*# sourceMappingURL=mobile.css.map */